*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Coiny', cursive;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: lightblue;
}

h1{
    text-align: center;
    margin: 30px;
    font-size: 60px;
    color:white;
}

.container{
    width: 900px;
    margin: auto;
}

.carta{
    width: 200px;
    height: 300px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 20px 10px;
}

.carta:hover .dim{
    width: 200px;
    height: 300px;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    background-color: white;
    background-repeat: no-repeat;
    position: relative;
}

h2{
    display: none;
    position: absolute; 
    bottom: 10px;
    left: 30px;
    font-size: 25px;
}

.carta:hover h2{
    display: block;
}

.carta:hover .air-ballon{
    background-image: url(../img/noun_air_balloon_3134741.png);
    color: rgb(211, 19, 77);
}

.carta:hover .bicycle{
    background-image: url(../img/noun_Bicycle_3134821.png);
    color: rgb(54, 19, 211);
}

.carta:hover .cruise{
    background-image: url(../img/noun_Cruise_Ship_3134824.png);
    color: rgb(19, 211, 35);
}

.carta:hover .submarine{
    background-image: url(../img/noun_Submarine_3134738.png);
    color: rgb(19, 188, 211);
}

.carta:hover .tractor{
    background-image: url(../img/noun_Tractor_3134797.png);
    color: rgb(211, 208, 19);
}

.carta:hover .tram{
    background-image: url(../img/noun_Tram_3134750.png);
    color: rgb(204, 19, 211);
}

footer{
    text-align: center;
}







